body {

    font-family: Arial, sans-serif;
    
    background-color: #f4f4f4;
    
    text-align: center;
    
    margin: 0;
    
    padding: 0;
    
    }
    
    .quiz-container {
    
    background-color: #fff;
    
    max-width: 500px;
    
    margin: 0 auto;
    
    padding: 20px;
    
    border-radius: 5px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    }
    
    h1 {
    
    font-size: 24px;
    
    color: #333;
    
    }
    
    #question {
    
    font-size: 18px;
    
    margin-top: 20px;
    
    }
    
    .options {
    
    display: flex;
    
    flex-direction: column;
    
    margin-top: 20px;
    
    }
    
    button {
    
    background-color: #007BFF;
    
    color: #fff;
    
    border: none;
    
    padding: 10px;
    
    margin-bottom: 10px;
    
    border-radius: 5px;
    
    cursor: pointer;
    
    }
    
    #next-button {
    
    background-color: #28A745;
    
    }

    .image {
        width: 100%;
    }